body{
    background-image: url(images/dog.jpg);
    background-size: cover;
}
main{
    color: white;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding-left: 30px;
}
h2{
    background-image: linear-gradient(to top, rgb(182, 121, 9), rgba(243, 161, 10, 0.158));
    padding: 10px;
}